<!DOCTYPE html>
<html>
  <head>
    <title>BobaWithStrangers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://previews.123rf.com/images/martialred/martialred1601/martialred160100096/50763091-bubble-tea-boba-pearl-milk-tea-flat-color-icon-for-food-apps-and-websites.jpg" />



  </head>

  <body>
    <%= yield %>
  </body>
</html>
